* {
    margin: 0;
    box-sizing: border-box;
}

.a {
    height: 300px;
    width: 300px;
    background-color: aqua;
    position: relative;
    top: 20px;
    z-index: 2;
    padding:20px;
}
.b {
    height: 300px;
    width: 300px;
    background-color:red;
    margin-top: -80px;
}

p {
    /* padding: 20px; */
}